@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Slab:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --brand-primary: #f36a3e;
    --gradient: linear-gradient(rgba(243, 106, 62, 1) 0%, rgba(255, 179, 11, 1) 100%);
    --brand-secondary: #fff3f3;
    --black: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hero {
    position: relative;
    height: 100vh;
    background-image: url("./amigos11.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    color: rgb(255, 255, 255);
    overflow: hidden;
}


.nav {
    height: 100px;
    background: var(--brand-secondary); 
    /* antes --gradient */
    width: 100%;
    border-radius: 0 0 8px 8px;
}

.divi {
    color: var(--black);
}

.title {
    /* background-color: rgba(0, 0, 0, 0.4); */
    border-radius: 10px;
    text-align: center;
    font-size: 1.8em;
    width: 90%;
    margin: auto;
    margin-top: 30px;
    color: var(--brand-secondary); 
    /* text-decoration: underline; */
}

.copy {
    /* background-color: rgba(0, 0, 0, 0.4); */
    border-radius: 10px;
    text-align: center;
    font-size: 1.2em;
    width: 90%;
    margin: 0 auto;
    margin-top: 500px;
    z-index: 10;
    font-weight: 600;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

.logo {
    color: var(--brand-primary);
    line-height: 100px;
    text-decoration: none;
    font-size: 1.8em;
    font-weight: 500;
}

.wave {
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 100%;
}

.main {
    position: relative;
    background: var(--gradient);
    /* min-height: 100vh; */
    width: 100%;
    padding: 0.1px;
    margin: auto;
    color: aliceblue;
}

.app__copy {
    text-align: center;
    font-size: 1.4em;
    width: 90%;
    margin: 40px auto;
    color: aliceblue;
}

.form {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.label {
    font-size: 1.2em;
    color: aliceblue;
}

.input {
    padding: 15px 10px;
    border-radius: 10px;
    border: none;
    margin: 20px 0;
    font-size: 1em;
    color: black;
}

.input:focus {
    border: none;
}

.input_submit {
    padding: 20px 10px;
    border-radius: 10px;
    border: none;
    margin: 50px 0;
    font-size: 1.2em;
    font-weight: 700;
    background-color: rgb(247, 251, 255);
    color: black;
}

.formContainer {
    margin-top: 30px;
    position: relative;
}

.title_app {
    text-align: left;
    font-size: 1.2em;
    width: 90%;
    margin: 3px 0;
    color: var(--brand-secondary);
    font-weight: 500;
}

.info_app {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    font-size: 1.2em;
    width: 90%;
    margin: 20px auto;
    /* margin-top: 30px; */
    color: aliceblue;
}

.info_app:last-child {
    margin-bottom: 70px;
}

.span {
    background-color: rgba(250, 235, 215, 0.6);
    border-radius: 10px;
    padding: 5px;
}

.showcase {
    position: relative;
    width: 90%;
    margin: 30px auto;
    height: 260px;
    padding: 5px;
    background: linear-gradient(to right, rgb(255, 140, 101) 0%, rgba(255, 224, 157, 0.6) 100%);
    border-radius: 10px;
}

.hr {
    color: rgb(87, 87, 87);
    width: 50%;
}

.title_app_info {
    text-align: left;
    font-size: 1.2em;
    margin-left: 3px;
    color: var(--brand-secondary);
    font-weight: 500;
    margin-bottom: 15px;
}

.copy_showcase {
    margin-top: 10px;
    font-size: 1em;
    color: black;
}

.spane {
    background-color: rgba(250, 235, 215, 0.7);
    position: absolute;
    top: 0;
    border-radius: 10px;
    padding: 5px;
    margin: 0 auto;
    margin-top: 172px;
    text-align: center;
    left: 5%;
}

.footer {
    width: 100%;
    text-align: center;
    background-color: var(--brand-secondary);
    color: var(--black);
    padding: 10px 0;
    font-weight: 600;
    border-radius: 8px 8px 0 0;
}

.link {
    color: var(--brand-primary);
    text-decoration: none;
    cursor: pointer;
}

@media screen and (min-width: 450px) {
    .copy {
        margin-top: 550px;
    }
}